<!DOCTYPE html>
<html lang="en">

<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
<style>
body {
	width: 100%;
}
</style>

</head>
<body>
	<div class="container">
		<!-- Nav tabs -->
		<div class="">
			<ul class="nav nav-tabs " role="tablist">
				<li class="nav-item"><a class="nav-link active"
					data-toggle="tab" data-target="#home" href="">Danh Sách</a></li>
				<li class="nav-item"><a class="nav-link " data-toggle="tab"
					data-target="#menu1" href="" ng-click="reset1()">Thêm mới/Chỉnh sửa</a></li>
				
			</ul>
		</div>

		<!-- Tab panes -->
		<div class="tab-content ">
			<div id="home" class="container tab-pane active">
				<div class="row card">
					<div class="mt-3 d-flex flex-row-reverse">
						<div class="p-2 input-group input-group-sm col-sm-3 ">
							<input type="text" class="form-control" placeholder="Nhập mã sản phẩm" id="keyword" ng-model="search.name ">
							<div class="input-group-prepend">
								<button class="input-group-text" type="submit" ng-click="timKiem()">Lọc</button>
							</div>
						</div>
						<div class="p-2 col-sm-2"> 
							<select id="trangThai"  ng-model="status" ng-change="genderStart()"
								class="form-control form-control-sm">
								<option value="">-- Tất cả --</option>
								<option value="true" >Đang bán</option>
								<option value="false">Ngừng bán</option>
							</select> 
						</div>
					</div>
					<div class="card-body">
						<div class="mb-3">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Id Sản Phẩm</th>
										<th>Mã Sản Phẩm</th>
										<th>Loại giày thể thao</th>
										<th>Cỡ giày</th>
										<th>Phong cách</th>
										<th>Màu sắc</th>
										<th>Đế giày</th>
										<th>Chất liệu</th>
										<th>Giá Sản Phẩm(VND)</th>
										<th>Số Lượng</th>
										<th>Giảm giá(%)</th>
										<th>Trạng Thái</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in pager.itemsProduct">
										<td>{{item.productDetailId}}</td>
										<td>{{item.product.productCode}}</td>
										<td>{{item.shoeType.name}}</td>
										<td>{{item.size.name}}</td>
										<td>{{item.style.name}}</td>
										<td>{{item.color.name}}</td>
										<td>{{item.shoeSole.name}}</td>
										<td>{{item.material.name}}</td>
										<td>{{item.price | number :-3}}</td>
										<td>{{item.quantity}}</td>
										<td>{{item.discount.percentDiscount}}</td>
										<td>{{item.status? 'Đang bán':'Ngừng bán'}}</td>
										<td>
											<div class="btn-group">
												<button ng-click="edit(item)"
														class="btn btn-primary fa fa-wrench">
												</button>
												<button ng-click="delete(item)"
														class="btn btn-danger fa fa-trash">
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="text-muted text-center mb-3">
						<button class="btn btn-danger" ng-click="pager.first()">
							<b class="fa fa-hand-o-up "></b>
						</button>
						<button class="btn btn-primary" ng-click="pager.prev()">
							<b class="fa fa-hand-o-left"></b>
						</button>

						<button class="btn btn-success">{{pager.page + 1}} of
							{{pager.count}}</button>

						<button class="btn btn-primary" ng-click="pager.next()">
							<b class="fa fa-hand-o-right"></b>
						</button>
						<button class="btn btn-danger" ng-click="pager.last()">
							<b class="fa fa-hand-o-down"></b>
						</button>
					</div>
				</div>
			</div>


			<div id="menu1" class="container tab-pane card">
				<div class="d-flex pt-2 mt-2 mb-2">
					<div class="col-sm-12">
						<div class="row">
							<!-- <div class="form-group col-sm-4">
								<div>Mã sản phẩm:</div>
								<input ng-model="formProduct.name" maxlength="30"
									class="form-control form-control-sm" id ="productName">
							</div> -->
							<div class="form-group col-sm-4">
								<div>Mã code sản phẩm:</div>
								<select ng-model="formProduct.product.productId" id="productSelect"
									class="form-control form-control-sm">
									<option value="">-- Chọn --</option>
									<option ng-repeat="c in dmproduct" ng-value="c.productId">{{c.productCode}}</option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<div>Loại giày:</div>
								<select ng-model="formProduct.shoeType.shoeTypeId" id="shoeTypeIdSelect"
									class="form-control form-control-sm">
									<option value="">-- Chọn --</option>
									<option ng-repeat="c in shoeType" ng-value="c.shoeTypeId">{{c.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<div>Cỡ giày:</div>
								<select ng-model="formProduct.size.sizeId" id="sizeSelect"
									class="form-control form-control-sm">
									<option value="">-- Chọn --</option>
									<option ng-repeat="c in size" ng-value="c.sizeId">{{c.name}}</option>
								</select>
							</div>
						</div>
						

						<div class="row">
							
							
							<div class="form-group col-sm-4">
								<div>Phong cách:</div>
								<select ng-model="formProduct.style.styleId" id="styleSelect"
									class="form-control form-control-sm">
									<option value="">-- Chọn --</option>
									<option ng-repeat="c in style" ng-value="c.styleId">{{c.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<div>Màu sắc:</div>
								<select ng-model="formProduct.color.colorId" id="colorSelect"
									class="form-control form-control-sm">
									<option value="">-- Chọn --</option>
									<option ng-repeat="c in color" ng-value="c.colorId">{{c.name}}</option>
								</select>
							</div>
							
							<div class="form-group col-sm-4">
								<div>Đế giày:</div>
								<select ng-model="formProduct.shoeSole.shoeSoleId" id="shoeSoleSelect"
									class="form-control form-control-sm">
									<option value="">-- Chọn --</option>
									<option ng-repeat="c in shoeSole" ng-value="c.shoeSoleId">{{c.name}}</option>
								</select>
							</div>
						</div>
						
						
						<div class="row">
							
							<div class="form-group col-sm-4">
								<div>Chất liệu:</div>
								<select ng-model="formProduct.material.id" id="materialSelect"
									class="form-control form-control-sm">
									<option value="">-- Chọn --</option>
									<option ng-repeat="c in material" ng-value="c.id">{{c.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<div>Giá:</div>
								<input ng-model="formProduct.price" id="productPrice"
									class="form-control form-control-sm"  ng-keyup="formatSoNguyenDuong(formProduct.price,'gia');" >
							</div>
							<div class="form-group col-sm-4">
								<div>Số lượng:</div>
								<input ng-model="formProduct.quantity" id="productQuantity"
									class="form-control form-control-sm" ng-keyup="formatSoNguyenDuong(formProduct.quantity,'sl');">
							</div>
							
						</div>

						<div class="row">
							<div class="form-group col-sm-6">
								<div>Giảm giá %:</div>
								<select ng-model="formProduct.discount.discountId" id="discountSelect"
									class="form-control form-control-sm">
									<option value="">-- Chọn --</option>
									<option ng-repeat="c in discount" ng-value="c.discountId">{{c.percentDiscount}}</option>
								</select>
							</div>
							<div class="form-group col-sm-6">
								<div>Trạng thái:</div>
								<div class="form-control">
									<label class="radio-inline"> <input
										ng-model="formProduct.status" ng-value="true" name="available"
										type="radio" checked>Đang bán
									</label> <label class="radio-inline"> <input
										ng-model="formProduct.status" ng-value="false"
										name="available" type="radio">Ngừng bán
									</label>
								</div>
							</div>
						</div>
						
					</div>
				</div>


				<div class="p-2 text-center">
					<button class="btn btn-primary" ng-click="create()" ng-disabled="formProduct.productId != null">
						<i class="fa fa-plus" aria-hidden="true"></i> Thêm
					</button>
					<button class="btn btn-warning" ng-click="update()">
						<i class="fa fa-wrench" aria-hidden="true"></i> Cập Nhật
					</button>
					
					<button class="btn btn-info" ng-click="reset()">
						<i class="fa fa-refresh" aria-hidden="true"></i> Xóa Form
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">

</script>
</html>