<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index.html}">

<head>
<meta charset="utf-8">
<title>Hướng dẫn chọn size</title>
</head>
<body>
	<div class="col-md-12" id="layout-page" layout:fragment="content">
		<span class="header-page clearfix">
			 <h1 style="padding: 2% 2% 2% 11%;">Hướng dẫn chọn size giày đá banh chính hãng</h1>
		</span>

		<div class="content-page">
			<p style="text-align: center"><img src="//file.hstatic.net/1000061481/file/bang_lay_so_do_chan-01_cc3a53502a864c648f1bb1db34dc2a96_1024x1024.jpg"></p>
			<p style="font-weight: 400; text-align: center;padding-left: 10%;padding-right: 10%;padding-top: 1%;"><em>Làm theo bảng hướng dẫn sau bạn sẽ có những số đo chân cụ thể, dựa vào đó canh đo theo bảng size chuẩn Giày Chính hãng NIKE, ADIDAS, PUMA, MIZUNO, KAMITO, ASICS..</em></p>
  		<p style="font-weight: 400; text-align: center;"><span style="color:#ff0000; font-size:15pt"><strong><strong>Công thức đo Size Giày = </strong></strong></span><span style="color:#d9b91c"><span style="font-size:15pt"><strong><strong>Chiều dài chân + 1cm</strong></strong></span></span><span style="color:#ff0000; font-size:15pt"><strong><strong> ( Trừ Hao bề ngang + vớ )</strong></strong></span></p>
  		<p style="font-weight: 400; text-align: center;"><span style="font-size:18px"><em>Sau đó đối chiếu với bảng Size giày bóng đá chính hãng tương ứng:&nbsp;</em></span></p>
  		<p style="text-align: center; padding-bottom: 2%;"><img src="//file.hstatic.net/1000061481/file/bang_tinh_size_giay_nike-01_04e8dc7953e1405d987f06e46c70ba81_116e6ba1a9344c1ead46290aeffcc961_1024x1024.jpg"></p>
		</div>
  </div>
</body>
</html>